In [23]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', 
                 names=headers, index_col=None)
df.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
df.head()

,car,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1

In [4]:
X = df.drop('car', 1)
y = df.car

In [17]:
model = LogisticRegression()

In [22]:
scores = cross_val_score(model, X, y, cv=5)
print(scores)
print('\n', scores.mean())

[0.70231214 0.84971098 0.74566474 0.75652174 0.76231884]

 0.7633056881963641

## LogisticRegressionCV

In [23]:
headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', 
                 names=headers, index_col=None)
df.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [24]:
df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
df.head()

,car,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1

In [25]:
X = df.drop('car', 1)
y = df.car

In [27]:
model = LogisticRegressionCV(max_iter=2000, multi_class='auto', cv=5)

In [28]:
model.fit(X, y)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=2000, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

## GridCV

In [14]:
headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', 
                 names=headers, index_col=None)

df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])

X = df.drop('car', 1)
y = df.car

In [15]:
model = DecisionTreeClassifier()

In [16]:
params = {'max_depth': np.arange(1, 8)}

In [17]:
model_cv = GridSearchCV(model, param_grid=params, cv=5)

In [18]:
model_cv.fit(X, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [21]:
print(model_cv.best_params_)
print(model_cv.best_score_)
print(model_cv.best_estimator_)

{'max_depth': 2}
0.7778822149618833
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
model_2 = RandomForestClassifier()

In [26]:
params_2 = {'n_estimators': [500, 1000, 2000], 'max_depth': np.arange(1, 8)}

In [27]:
model_2_cv = RandomizedSearchCV(model_2, param_distributions=params_2, cv=5)

In [28]:
model_2_cv.fit(X, y)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs=None,
                                                    oob_score=False,
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'max_depth': array([1, 2, 3, 4, 5, 6, 7]),
                                        'n_estimators': [500, 1000, 2000]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [29]:
print(model_2_cv.best_params_)
print(model_2_cv.best_estimator_)

{'n_estimators': 1000, 'max_depth': 5}
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

## Lasso

In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/ccpp.csv')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [33]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [34]:
X = df.drop('PE', 1)
y = df.PE

In [35]:
X_train, X_eval, y_train, y_eval = train_test_split(X, y, train_size=0.8, random_state=0)

#### modelo 1

In [36]:
lr_model = LinearRegression()

In [37]:
lr_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
preds = lr_model.predict(X_eval)

In [43]:
print(lr_model.score(X_eval, y_eval))
print(mean_squared_error(preds, y_eval))

0.9325315554761302
19.733699303497648

#### modelo 2

In [44]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3)),
    ('lr', LinearRegression())
]

In [45]:
lr_model_2 = Pipeline(steps)

In [46]:
lr_model_2.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [47]:
preds_2 = lr_model_2.predict(X_eval)

In [48]:
print(lr_model_2.score(X_eval, y_eval))
print(mean_squared_error(preds_2, y_eval))

0.9443678654045208
16.27172263220766

In [54]:
#Pesos
# O último elemento do pipeline é o modelo, por isso acessamos ele através do [-1]
print(lr_model_2[-1].coef_)
print('\n\n', len(lr_model_2[-1].coef_))

[ 7.72661789e-14 -1.77278028e+02 -4.60337188e+01 -1.60520675e+02
 -1.23076123e+02  6.23358210e+00  8.19655844e+00  1.45478576e+02
  1.88658651e+02  2.43740192e+01  1.80553150e+02 -1.08058561e+02
  1.09713294e+02  1.79121906e+02  1.06460596e+02  2.67290613e+01
  7.79833654e+01  3.69241324e+01 -1.13863997e+02 -1.42673215e+02
 -9.69606773e+01  1.90706809e+02 -5.56429546e+01 -1.32595225e+02
 -9.41682917e+01  9.40112729e+01 -1.18732510e+02 -7.64871610e+01
 -4.18714081e+01  6.36772260e+01  4.42340977e+01 -3.81114691e+01
 -4.71547759e+01 -9.16797074e+01 -2.52346805e+01]


 35

#### modelo 3

In [55]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', LinearRegression())
]

In [56]:
lr_model_3 = Pipeline(steps)

In [57]:
lr_model_3.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [59]:
preds_3 = lr_model_3.predict(X_eval)

In [62]:
print(lr_model_3.score(X_eval, y_eval))
print(mean_squared_error(preds_3, y_eval))
print(lr_model_3[-1].coef_[:35])
print('\n', len(lr_model_3[-1].coef_))

0.5683435757161941
126.2542532194583
[ 3.92445199e+05 -6.90878064e+07 -4.12728065e+07  2.27931571e+07
 -4.76783571e+07  2.96660504e+08  2.73266892e+08  1.07841935e+08
  3.73714908e+08  8.79706783e+07 -2.35370006e+07  2.46251740e+08
 -2.61105461e+08  1.86068805e+07  1.41129890e+08 -6.53880532e+08
 -8.90626465e+08 -1.06073751e+09 -1.29263047e+09 -4.28445072e+08
  5.31669445e+07 -1.30408279e+09  4.41029501e+08 -8.86213884e+08
 -8.78150428e+08 -1.97095572e+06 -5.39378947e+08 -3.68358686e+08
  9.82114324e+08 -2.76716207e+08 -6.28823192e+08  8.14257421e+08
  5.43209073e+08 -2.03040285e+08 -2.42926953e+08]

 1001

#### modelo 4

In [63]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', Lasso(alpha=0.01))
]

In [64]:
lasso_model = Pipeline(steps)

In [65]:
lasso_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 Lasso(alpha=0.01, copy_X=True, fit_intercept=True,
                       max_iter=1000, normalize=False, positive=False,
                       precompute=False, random_state=None, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [67]:
lasso_model.predict(X_eval)

array([433.40247112, 458.19805612, 462.84194845, ..., 469.95758859,
       442.17803844, 461.29417918])

In [70]:
print(lasso_model.score(X_eval, y_eval))
print(mean_squared_error(preds, y_eval))
print('\n', lasso_model[-1].coef_[:35])
print('\n', len(lasso_model[-1].coef_))

0.9418109161488483
19.733699303497648

 [  0.         -69.23283545 -12.97913161   5.59999369  -0.
   0.          -0.           0.          -0.71670158  -0.53479946
   0.          -1.25577296   0.          -0.          -0.
   0.           0.           0.          -0.           0.
   0.          -0.           0.          -0.          -9.10662876
  -0.           0.          -0.           0.          -0.
  -3.04193695  -0.          -0.          -0.          -0.        ]

 1001

## Ridge

In [78]:
steps = [
    ('scaler', MinMaxScaler()), 
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', Ridge(alpha=0.9))
]

In [79]:
ridge_model = Pipeline(steps)

In [80]:
ridge_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 Ridge(alpha=0.9, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=None,
                       solver='auto', tol=0.001))],
         verbose=False)

In [81]:
ridge_preds = ridge_model.predict(X_eval)

In [84]:
print(ridge_model.score(X_eval, y_eval))
print(mean_squared_error(ridge_preds, y_eval))
print('\n', ridge_model[-1].coef_[:35])

0.9451949082623444
16.02982265685514

 [  0.         -39.79803902  -7.77413135   6.07694837   3.10326786
 -18.17945028  -9.45440071  -7.4037462  -16.97192766  -9.10799691
   6.96959155  -1.55574911   4.49242992   0.31127893   5.27565009
  -4.07568831  -0.95958324   2.38995687  -6.1583696   -2.05510604
   2.3741985   -1.30281151  -1.7837005   -4.53024264  -8.30749466
  -3.42801698   0.65288784  -2.74767783   5.47711767   4.68241474
  -2.1214614   -0.47331885   0.43221968  -0.28909998   4.64549348]