In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/activity.csv'
data = pd.read_csv(file_url)
data.head()

   avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23  Activity
0      42.00       0.00      18.50       0.50      12.00       0.00  bending1
1      42.00       0.00      18.00       0.00      11.33       0.94  bending1
2      42.75       0.43      16.75       1.79      18.25       0.43  bending1
3      42.50       0.50      16.75       0.83      19.00       1.22  bending1
4      43.00       0.82      16.25       0.83      18.00       0.00  bending1

In [4]:
y = data.pop('Activity')

In [7]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.33, random_state=42)

In [9]:
model = RandomForestClassifier(random_state=1)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [14]:
preds = model.predict(X_test)
preds

array(['lying', 'lying', 'lying', ..., 'walking', 'standing', 'cycling'],
      dtype=object)

In [15]:
accuracy_score(preds, y_test)

0.7916696901531094

In [16]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
data1 = pd.read_csv(file_url)
data1.head()

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
1,antelope,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True,mammal
2,bass,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False,fish
3,bear,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
4,boar,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal